{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block css %}
        <!-- Compiled and minified CSS -->
        <!--O PROBLEMA É O CSS MATERIAL ABAIXO QUE NÃO FUNCIONA COM JQUERY-->
        {% include 'material/includes/material_css.html' %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">

    {% endblock %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>PESQUISA</title>


</head>

<body>
    <!--NAVBAR-->
    <nav class="#1a237e indigo darken-4 col s12 m6">
        <div class="nav-wrapper">
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
        <a href="{% url 'question_level_view2' %}" class="brand-logo">Alterdata Filiais</a>
            <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'person_client_create' %}">Cliente</a></li>
            <li><a href="{% url 'person_client_list' %}">Lista Clientes</a></li>
            <li><a href="{% url 'question_create' %}">Cadastrar nova Pergunta</a></li>
            <!--<li><a href="mobile.html">Mobile</a></li>-->
            </ul>
        </div>
    </nav>

    <!--SIDENAV-->
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="{% static 'img/ocean.jpg' %}" alt=""/>
                </div>

                <img src="{% static 'img/person1.jpg' %}" alt="" class="circle"/>
                <a href="#name"><span class="white-text name">John Doe</span></a>
                <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
        </li>

        <li><a href="{% url 'person_client_create' %}"><i class="material-icons">perm_identity</i>Cliente</a></li>
        <li><a href="{% url 'person_client_list' %}"><i class="material-icons">list</i>Lista Clientes</a></li>
        <li><a href="{% url 'question_create' %}"><i class="material-icons">question_answer</i>Cadastrar nova Pergunta</a></li>
        <li><a href="{% url 'question_list' %}"><i class="material-icons">question_answer</i>Lista de Perguntas</a></li>
        <li><a href="#!">Em breve...</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>

    <div class="container">

        <!--BLOCO CONTAINER   -->
        {% block container %}
            <p>Use this document as a way to quick start any new project.</p>
        {% endblock container %}


    </div> <!-- /container -->

    {% block js %}
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script src="{% static 'js/jquery.mtz.monthpicker.js' %}"></script>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>


    <!-- Compiled and minified JQuery -->
        <!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>-->

        <!-- Compiled and minified JavaScript -->
        {% include 'material/includes/material_js.html' %}


        <script>
            $(document).ready(function(){
                //MATERIALIZE
                $('.sidenav').sidenav();
                $('.dropdown-trigger').dropdown();
                $('.datepicker').datepicker(
                    {
                        showClearBtn:false,
                        autoClose:true,
                        setDefaultDate:true,
                        //POSSO SETAR 01/mm/yyyy OU REMOVER ESSE CAMPO DO MODELO E PREENCHER COM SIGNALS
                        format: 'dd/mm/yyyy',
                            i18n: {
                                months: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
                                monthsShort: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
                                weekdays: ["Domingo","Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"],
                                weekdaysShort: ["Dom","Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],
                                weekdaysAbbrev: ["D","S", "T", "Q", "Q", "S", "S"]
                            }
                        }
                    );

                // JQUERY MTZ.MONTHPICKER
                //https://www.jqueryscript.net/time-clock/jQuery-Plugin-For-jQuery-UI-Month-Year-Picker-mtz-monthpicker.html



                $('.monthpicker').monthpicker({
                    pattern: 'mm/yyyy',
                    monthNames: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                });
            });
        </script>
        <script src="{% static 'js/cep.js' %}"></script>
    {% endblock %}

</body>

</html>
