{% extends "base.html" %}
{% load static %}
{% load material_form %}
{% block container %}

<div class="card larger" id="card-radius">

    {% for client in clients %}
        <div class="fixed-action-btn click-to-toggle">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">add</i>
            </a>
            <ul>
                <li><a href="{% url 'seach_create' %}" class="btn-floating red"><i class="material-icons">event</i></a></li>
                <li><a href="{% url 'person_client_update' pk=client.id %}" class="btn-floating yellow darken-1"><i class="material-icons">person</i></a></li>
                <li><a href="{% url 'person_client_list' %}" class="btn-floating green"><i class="material-icons">list</i></a></li>
                <li><a href="{% url 'question_list' %}" class="btn-floating blue"><i class="material-icons">question_answer</i></a></li>
            </ul>
        </div>


        <div class="card-panel #424242 grey darken-3 center" id="title-panel">{{client.name}}</div>
    {% empty %}

    {% endfor %}



    <table>
        <thead class="#cfd8dc blue-grey lighten-4">
            <tr>
                <th class="center-align">ID</th>
                <th>Período</th>
                <th>Entrevistado</th>
            </tr>
        </thead>

        <tbody>
            {% for search in searchs %}
                <tr>
                    <td class="center-align">
                        <a href="{% url 'pesquisa_update' pk=search.id %}">{{ search.id|linebreaks }}</a>
                    </td>

                    <td>
                        <a href="{% url 'pesquisa_update' pk=search.id %}">{{ search.search_key|linebreaks }}</a>
                    </td>


                    <td>{{ search.researched }}</td>
                </tr>
            {% empty %}
                <div class="card-panel #424242 grey darken-3 center" id="empty-panel">NENHUM REGISTRO ENCONTRADO!</div>
            {% endfor %}
        </tbody>
    </table>

        <div id="representacao"></div>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script>
      Highcharts.chart('representacao', {{ chart|safe }});
    </script>
</div>
{% endblock %}