body {
    background: #d0cdcd;
}

#card-radius{
    border-radius: 15px;
    //margin-top:6em
}

#title-panel, #empty-panel{
    color: #f4f8fa
}

/*table.nospacing th, td {
    padding: 0;
    width: 120%;
}*/

#table-especial {
    padding: 0;
    width: 120%;
}

table th, table td {
    padding: 0px 0px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}


#width-100{
    width: 100%;
}


/*.chk_box input[type='checkbox'] {
position: static!important;
left: 0px!important;
opacity: 1!important;
visibility: visible!important;
pointer-events: all!important;
}*/

