{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/css.css' %}"/>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<form class="container clearfix">

		<h1>HORÁRIO DE TRABALHO EXTERNO<br/>FICHA INDIVIDUAL</h1>
        <img class="img-topo" src="{% static 'img/logo.png' %}">
		<div class="text_justificado">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    Nome da Firma: <strong><label name="recebido" class="recebido">{{work_schedule.user.userinfo.base|upper}}</label></strong>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    CNPJ: <strong><label name="recebido" class="recebido">{{work_schedule.user.userinfo.base.cpf_cnpj|upper}}</label></strong>
                                    <label>______</label>Atividade: ________________________________________________
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Endereço: <strong>
                                                    <label name="recebido" class="recebido">{{work_schedule.user.userinfo.base.logradouro|upper}}</label>,
                                                    <label name="recebido" class="recebido">{{work_schedule.user.userinfo.base.numero|upper}}</label>,
                                                    <label name="recebido" class="recebido">{{work_schedule.user.userinfo.base.bairro|upper}}</label>,
                                                    <label name="recebido" class="recebido">{{work_schedule.user.userinfo.base.cidade|upper}}</label>/
                                                    <label name="recebido" class="recebido">{{work_schedule.user.userinfo.base.estado|upper}}</label>
                                              </strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nome do Empregado: <strong><label name="recebido" class="recebido">{{work_schedule.user.userinfo.nomecompleto|upper}}</label></strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Carteira Profissional: <strong>______________________Série:______________</label></strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Função: <strong><label name="recebido" class="recebido">{{work_schedule.user.userinfo.funcao|upper}}</label></strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Horário de trabalho: <strong><label name="recebido" class="recebido">{{work_schedule.user.userinfo.horario|upper}}</label></strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Descanso Semanal: <strong>_____SÁB/DOM______________________________</label></strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Período de Validade: <strong><label name="recebido" class="recebido">{{work_schedule.period|upper}}</label></strong>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                    <table>
                        <thead class="cabecalho-tabela">
                            <tr>
                                <th rowspan="2">Dia</th>
                                <th rowspan="2">Entrada</th>

                                <th colspan="2">Almoço</th>

                                <th rowspan="2">Saída</th>
                                <th colspan="2">Visto do fiscal</th>

                            </tr>

                            <tr>

                                <th>Entrada</th>

                                <th>Saída</th>

                                <th>Data</th>
                                <th>Assinatura</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for work_schedule_item in work_schedule_itens %}
                                {% if work_schedule_item.week_day == '5' %}
                                    <tr>
                                        <td>{{ work_schedule_item.day|date:"d" }}</td>
                                        <th colspan="4">Sábado</th>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% elif work_schedule_item.week_day == '6' %}
                                    <tr>
                                        <td>{{ work_schedule_item.day|date:"d" }}</td>
                                        <th colspan="4">Domingo</th>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% elif work_schedule_item.week_day == '7' %}
                                    <tr>
                                        <td>{{ work_schedule_item.day|date:"d" }}</td>
                                        <th colspan="4">Feriado</th>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% elif work_schedule_item.week_day == '8' %}
                                    <tr>
                                        <td>{{ work_schedule_item.day|date:"d" }}</td>
                                        <th colspan="4">Faltou</th>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>{{ work_schedule_item.day|date:"d" }}</td>
                                        <!--<td>{{ work_schedule_item.day|date:"l" }}</td>-->
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                            {% empty %}
                                <li>
                                    Sem registros
                                </li>
                            {% endfor %}
                        </tbody>
                    </table>
		</div>
	</form>

    <footer>
        <br>
        <div class="center">
            <strong><label name="recebido" class="recebido">___________________________________________</label></strong>
        </div>
        <div class="center">
            <strong><label name="recebido" class="recebido">Assinatura do Empregado</label></strong>
        </div>
        <br>
        <div class="center">
            <strong><label name="recebido" class="recebido">___________________________________________</label></strong>
        </div>
        <div class="center">
            <strong><label name="recebido" class="recebido">Assinatura do Empregador</label></strong>
        </div>

    {#  <p>Posted by: Hege Refsnes</p>#}
    {#  <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>#}
    </footer>
</body>
</html>